include constant.pug
doctype html
html
    head
        title Learning Pug and Scss
        link(rel="stylesheet", href="../scss/style.css")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

    body
        div.menu-btn  &#x2630;
        div(style=myStyles)
        
        header      
            div.container
                nav.main-nav
                  img&attributes(myAttributes).logo
                  ul.main-menu
                    each item in menuItem 
                        li.main-menu__item
                            a(href="#")= item
        block content
            main.container
                // showcase
                section.showcase(class=myClasses)
                    h2.title Microsoft Team
                    p.desc Talk, meeting, video call and work together
                    a(href="#").btn Learn more &#10095;
                section.home-cards
                    +homeCard("../images/office.webp", "This is your office 365", 
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consect", 
                    "Learn more" )
                    +homeCard("../images/office.webp", "This is your office 365", 
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consect", 
                    "Learn more" )
                    +homeCard("../images/office.webp", "This is your office 365", 
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consect", 
                    "Learn more" )
                    +homeCard("../images/office.webp", "This is your office 365", 
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consect", 
                    "Learn more" )

                section.xbox
                    div.content
                        h2.xbox__title
                            |Xbox Game Pass Ultimate
                        p.xbox__desc
                            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere totam rem? Deleniti deserunt delectus ipsum. Recusandae commodi consequuntur assumenda repellat, magnam blanditiis, dolorem facilis impedit quam placeat laudantium itaque.
                        a(href="#").btn
                            |Join Now
                
                section.home-cards
                    +homeCard("../images/office.webp", "This is your office 365", 
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consect", 
                    "Learn more" )
                    +homeCard("../images/office.webp", "This is your office 365", 
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consect", 
                    "Learn more" )
                    +homeCard("../images/office.webp", "This is your office 365", 
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consect", 
                    "Learn more" )
                    +homeCard("../images/office.webp", "This is your office 365", 
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consect", 
                    "Learn more" )
                
                section.follow
                    p.follow__title Follow Microsoft
                    img(src="../images/facebook.png", alt="facebook").follow__img
                
                section.links
                    div.links__inner
                        ul
                            li.links__item
                                h3 What's New
                            +list("Microsoft 365", "Application for window 10")
                            //- li.links__item
                            //-     a(href="#") Microsoft 365
                            //- li.links__item
                            //-     a(href="#") Application for window 10
                        ul
                            li.links__item
                                h3 Microsoft Store
                            +list("Account records", "Download center", "Return", "Track orders")
                        ul
                            li.links__item
                                h3 Education
                            +list("Microsoft in education", "Office for students", "Office for schools")                      
                        ul
                            li.links__item
                                h3 Organization
                            +list("Microsoft in education", "Office for students", "Office for schools")                   
                        ul
                            li.links__item
                                h3 Developers
                            +list("Microsoft in education", "Office for students", "Office for schools")                   
                        ul
                            li.links__item
                                h3 Company
                            +list("Microsoft in education", "Office for students", "Office for schools")

                footer.footer
                    div.footer__inner
                        div
                            | &#127757; English (United State)
                        ul
                            +footer("Sitemap", "Contact Microsoft", "Privacy & cookies", "Tearm of use", "Trademarks", "Safety & eco", "About our ads")
                            li.footer__item
                                a(href="#") &copy; Microsoft 2020

        script.
            document.querySelector('.menu-btn').addEventListener('click', () => document.querySelector('.main-menu').classList.toggle('show'))
