doctype html
html
    head
        title Learning Pug and Scss
        link(rel="stylesheet", href="../scss/style.css")
    body
        div.menu-btn  &#x2630;

        header
            div.container
                nav.main-nav
                  img(src="../images/logo.png", alt="logo microsoft").logo
                  ul.main-menu
                    li.main-menu__item
                        a(href="#") Office
                    li.main-menu__item
                        a(href="#") Windows
                    li.main-menu__item
                        a(href="#") Xbox
                    li.main-menu__item
                        a(href="#") Deals
                    li.main-menu__item
                        a(href="#") Support
        main.container
            // showcase
            section.showcase
                h2.title Microsoft Team
                p.desc Talk, meeting, video call and work together
                a(href="#").btn Learn more &#10095;
            section.home-cards
                div
                    img(src="../images/office.webp", alt="home card").home-cards__img
                    h3.home-cards__title This is your office 365
                    p.home-cards__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consectetur unde corporis a explicabo officiis eligendi?
                    a(href="#") Learn More &#10095;
                div
                    img(src="../images/office.webp", alt="home card").home-cards__img
                    h3.home-cards__title This is your office 365
                    p.home-cards__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consectetur unde corporis a explicabo officiis eligendi?
                    a(href="#") Learn More &#10095;
                div
                    img(src="../images/office.webp", alt="home card").home-cards__img
                    h3.home-cards__title This is your office 365
                    p.home-cards__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consectetur unde corporis a explicabo officiis eligendi?
                    a(href="#") Learn More &#10095;
                div
                    img(src="../images/office.webp", alt="home card").home-cards__img
                    h3.home-cards__title This is your office 365
                    p.home-cards__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consectetur unde corporis a explicabo officiis eligendi?
                    a(href="#") Learn More &#10095;

            section.xbox
                div.content
                    h2.xbox__title
                        |Xbox Game Pass Ultimate
                    p.xbox__desc
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere totam rem? Deleniti deserunt delectus ipsum. Recusandae commodi consequuntur assumenda repellat, magnam blanditiis, dolorem facilis impedit quam placeat laudantium itaque.
                    a(href="#").btn
                        |Join Now
            
            section.home-cards
                div
                    img(src="../images/office.webp", alt="home card").home-cards__img
                    h3.home-cards__title This is your office 365
                    p.home-cards__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consectetur unde corporis a explicabo officiis eligendi?
                    a(href="#") Learn More &#10095;
                div
                    img(src="../images/office.webp", alt="home card").home-cards__img
                    h3.home-cards__title This is your office 365
                    p.home-cards__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consectetur unde corporis a explicabo officiis eligendi?
                    a(href="#") Learn More &#10095;
                div
                    img(src="../images/office.webp", alt="home card").home-cards__img
                    h3.home-cards__title This is your office 365
                    p.home-cards__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consectetur unde corporis a explicabo officiis eligendi?
                    a(href="#") Learn More &#10095;
                div
                    img(src="../images/office.webp", alt="home card").home-cards__img
                    h3.home-cards__title This is your office 365
                    p.home-cards__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit sit consectetur adipisci alias! Quos harum sit illum non deleniti voluptas ad eius, consectetur unde corporis a explicabo officiis eligendi?
                    a(href="#") Learn More &#10095;
            
            section.follow
                p.follow__title Follow Microsoft
                img(src="../images/facebook.png", alt="facebook").follow__img
            
            section.links
                div.links__inner
                    ul
                        li.links__item
                            h3 What's New
                        li.links__item
                            a(href="#") Microsoft 365
                        li.links__item
                            a(href="#") Application for window 10
                    ul
                        li.links__item
                            h3 Microsoft Store
                        li.links__item
                            a(href="#") Account records
                        li.links__item
                            a(href="#") Download center
                        li.links__item
                            a(href="#") Return
                        li.links__item
                            a(href="#") Track orders
                    ul
                        li.links__item
                            h3 Education
                        li.links__item
                            a(href="#") Microsoft in education
                        li.links__item
                            a(href="#") Office for students
                        li.links__item
                            a(href="#") Office for school
                    ul
                        li.links__item
                            h3 Organization
                        li.links__item
                            a(href="#") Microsoft Azure
                        li.links__item
                            a(href="#") Microsoft Industry
                        li.links__item
                            a(href="#") Financial services
                    ul
                        li.links__item
                            h3 Developers
                        li.links__item
                            a(href="#") Microsoft Visual Studio
                        li.links__item
                            a(href="#") Microsoft Industry
                        li.links__item
                            a(href="#") Financial services
                        li.links__item
                            a(href="#") Technet
                    ul
                        li.links__item
                            h3 Company
                        li.links__item
                            a(href="#") Microsoft Visual Studio
                        li.links__item
                            a(href="#") Microsoft Industry
                        li.links__item
                            a(href="#") Financial services
                        li.links__item
                            a(href="#") Technet

            footer.footer
                div.footer__inner
                    div
                        | &#127757; English (United State)
                    ul
                        li.footer__item
                            a(href="#") Sitemap
                        li.footer__item
                            a(href="#") Contact Microsoft
                        li.footer__item
                            a(href="#") Privacy & cookies
                        li.footer__item
                            a(href="#") Terms of use
                        li.footer__item
                            a(href="#") Trademarks
                        li.footer__item
                            a(href="#") Safety & eco
                        li.footer__item
                            a(href="#") About our ads
                        li.footer__item
                            a(href="#") &copy; Microsoft 2020

        script.
            document.querySelector('.menu-btn').addEventListener('click', () => document.querySelector('.main-menu').classList.toggle('show'))
