include constant.pug

block content
    main.container
        h1.title-about About us
        div Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        |Reiciendis veritatis voluptatum quaerat sint, dolorem est 
        |aliquid a nesciunt molestias ad at nostrum consequuntur 
        |nam non rerum amet minus deserunt voluptate!
        |Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        | Deleniti sunt similique repellat recusandae necessitatibus 
        |reprehenderit ex dolorem nam ipsum. Explicabo rerum minima 
        |harum rem cumque. Voluptas ut at amet enim!
        |Reiciendis veritatis voluptatum quaerat sint, dolorem est 
        |aliquid a nesciunt molestias ad at nostrum consequuntur 
        |nam non rerum amet minus deserunt voluptate!
        |Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        | Deleniti sunt similique repellat recusandae necessitatibus 
        |reprehenderit ex dolorem nam ipsum. Explicabo rerum minima 
        |harum rem cumque. Voluptas ut at amet enim!
        |Reiciendis veritatis voluptatum quaerat sint, dolorem est 
        |aliquid a nesciunt molestias ad at nostrum consequuntur 
        |nam non rerum amet minus deserunt voluptate!
        |Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        | Deleniti sunt similique repellat recusandae necessitatibus 
        |reprehenderit ex dolorem nam ipsum. Explicabo rerum minima 
        |harum rem cumque. Voluptas ut at amet enim!
        footer.footer.footer-about
            div.footer__inner
                div
                    | &#127757; English (United State)
                ul
                    +footer("Sitemap", "Contact Microsoft", "Privacy & cookies", "Tearm of use", "Trademarks", "Safety & eco", "About our ads")
                    li.footer__item
                        a(href="#") &copy; Microsoft 2020